<div class="border-2 border-yellow-400 rounded-xl bg-gray-100 text-gray-900 shadow-lg w-1/2 mx-auto">
  <%= form_with model: @workout, local: true do |f| %>
    <div class="bg-yellow-400 rounded-t-xl p-4 text-center">
      <h2 class="text-2xl font-bold ">Create A Workout</h2>
    </div>
    <div class="p-10">
      <div class="w-full mb-4">
        <%= f.label :name, 'Workout Name', class: 'block text-lg font-medium mb-2' %>
        <%= f.text_field :name, class: 'w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-400' %>
      </div>

      <div class="w-full mb-6">
        <%= f.label :date, "Day of the Week", class: 'block text-lg font-medium mb-2' %>
        <%= f.select :date, options_for_select(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']), { include_blank: true }, class: 'w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-400' %>
      </div>

      <div class="w-full">
        <%= f.submit 'Add Exercises', class: 'w-full bg-yellow-300 rounded-xl text-gray-900 font-bold px-4 py-2 cursor-pointer hover:bg-yellow-400 transition duration-300 ease-in-out' %>
      </div>
    </div>
  <% end %>
</div>
