<div class="flex flex-col justify-center items-center min-h-screen p-5">
  <div class="card  shadow-lg h-1/2 w-1/2">

    <div class="bg-yellow-400 w-full h-2 p-8 flex items-center justify-center">
      <h2 class="text-center">Sign up</h2>
    </div> 

    <div class="p-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- First Name -->
      <div class="field mt-4">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: "text-black bg-white p-2 w-full" %>
      </div>

      <!-- Last Name -->
      <div class="field mt-4">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "text-black bg-white p-2 w-full" %>
      </div>

      <!-- Date of Birth -->
     <div class="field mt-4 text-black w-full flex items-start flex-col">
      <div>
        <%= f.label :date_of_birth, class: "text-black mb-2 block"  %>
        <%= f.date_select :date_of_birth, start_year: Date.current.year - 14, end_year: Date.current.year - 75, class: "bg-white w-full" %>
        </div>
      </div>



      <!-- Email -->
      <div class="field mt-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black bg-white p-2 w-full" %>
      </div>

      <!-- Password -->
      <div class="field mt-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text-black bg-white p-2 w-full" %>
      </div>

      <!-- Password Confirmation -->
      <div class="field mt-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-black bg-white p-2 w-full" %>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Sign up", class: "bg-yellow-400 text-center p-2 w-full font-bold", data: {turbo: false} %>
      </div>
    <% end %>

    <div class="mt-4 w-full flex justify-center">
      <%= render "devise/shared/links", class: "bg-yellow-400 text-center p-2" %>
    </div>
    </div>
  </div>
</div>
