<div class="flex max-h-screen">
  <%= render 'layouts/nav', class: 'shrink-0' %>

  <section class="overflow-auto flex-1 w-full p-4">
   
    
    <h1 class="text-2xl font-bold mb-4"> Add Exercises </h1>
    <%= form_with url: new_workout_exercise_path, method: :get do |form| %>
      <%= form.label :body_part, 'Search Body Part:', class: "block text-lg font-medium mb-2 mx-3" %>
      <%= form.select :body_part, options_for_select(@body_parts.map(&:titleize)), { include_blank: true }, class: 'text-black p-2 mx-3 border rounded w-4/5 mb-4' %>
      <%= form.submit 'Search', class: 'bg-yellow-400 text-black font-bold py-2 px-4 rounded cursor-pointer' %>
    <% end %>

    <% if @exercises.present? %>
      <div class="flex flex-wrap mx-2 mt-4">
        <% @exercises.each do |exercise| %>
          <div class="w-1/4 h-1/2 px-2 mb-4">
            <div class="border rounded-md flex flex-col items-center">
              <div class="bg-yellow-400 rounded-t-md px-8 pt-4 text-center w-full h-24 flex justify-center items-center">
                <p class="font-bold text-base text-black "> 
                  <%= exercise[:name].titleize %>
                </p>
              </div>
              <img src="<%= exercise[:gifUrl] %>" alt="Exercise GIF" class="max-h-25 bg-white m-4">
              <%= form_with model: [@workout, Exercise.new], local: true do |form| %>
                <%= form.hidden_field :name, value: exercise[:name] %>
                <%= form.hidden_field :body_part, value: exercise[:bodyPart] %>
                <%= form.hidden_field :url, value: exercise[:gifUrl] %>
                <%= form.submit "Add Exercise", class: "bg-yellow-400 text-black text-sm font-bold px-4 py-2 rounded hover:bg-yellow-500 mb-4" %>
              <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <% end %>
  </section>
</div>